

#dashboard-container {

  display:flex;
  align-items: center;
  flex-direction:column;
}

#dashboard-card {
  background-color: #f0f0f0;
  width: 600px;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}


#dashboard {
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

button {
  margin-left: 10px;
}
